.background
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('assets/sparksky.jpg');
    color:white;
    display: flex;
    flex-direction: column;
}


h3
{
    font-size: 36px;
    font-weight: 700;
    line-height: 61px;
    animation: float 8s ease-in-out infinite;
}

#top
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    vertical-align: top;
}

#toptop
{
    margin-left: 5%;
}

.image
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:35%;
    
}

.information
{
    width: 45%;  
    text-align: justify;  
}

h4
{
    font-size: 28px;
    font-weight: 700;
    line-height: 39px;
    animation: float 8s ease-in-out infinite;
}

#bottom
{
    display: flex;
    justify-content:center;
}

#bottombottom
{
  display: flex;
  justify-content:center;
  width: 45% !important;
}

.information2
{ 
    text-align: justify;  
    width:90%;
    display: flex;
    flex-direction: column;
}

p
{
    font-size: 20px;
    font-weight: 400;
}

footer
{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    height: 4%;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height:100%;
  position:static !important;
}

#planetImage { 
    width : 50%;
    height : 70%;
    animation: float 8s ease-in-out infinite;
}

div
{
    animation: float 10s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.back-bloc{
    display: flex;
    cursor:pointer;
}

.back
{
    animation:none;
    font-family: 'Inter-bold';
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
}