body{
    background-color: black;
    min-height: 100%;
}
@font-face {
    font-family: Inter-bold;
    src: url(../../fonts/Inter/static/Inter-Bold.ttf);
  }

.container{
display: flex;
flex-direction: row;
justify-content: space-between;
cursor:url("../../assets/cursor2.png"), auto;
}

label{
  color: white;
}

.description{
position: absolute;
width: 456px;
height: 366px;
left: 53px;
top: 232px;

font-family: 'Inter-bold';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 73px;

color: #FFFFFF;
animation: 2s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

.search-icon{
  position: absolute;
  width: 45px;
  height: 46px;
  left: 451px;
  top: 537px;
  background: url(../../assets/Search.png);
}

.slider{
  position: absolute;
  width: 48px;
  height: 45px;
  left: 525px;
  top: 537px;
  background: url(../../assets/Slider.png);
  cursor: pointer
}

.search-bar{
box-sizing: border-box;

position: absolute;
width: 456px;
height: 53px;
left: 53px;
top: 534px;

border: 1px solid #FFFFFF;
}

/* Planete INSA */
.title{
position: absolute;
width: 191px;
height: 36px;
left: 51px;
top: 37px;

font-family: 'Inter-bold';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;

color: #FFFFFF;
}
#search{
  width: 380px;
  height: 45px;
  margin:2px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: larger;
}
#search:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  color: white;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.fields
{
  display: flex;
  color:white;
}