h3
{
    font-size: 36px;
    font-weight: 700;
    line-height: 61px;
    animation: float 8s ease-in-out infinite;
    text-align: center;
}

#top
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    vertical-align: top;
}

#toptop
{
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.image
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:32%;
    
}

.information
{
    width: 68%;  
    text-align: justify;  

}

h4
{
    font-size: 28px;
    font-weight: 700;
    line-height: 39px;
    animation: float 8s ease-in-out infinite;
}

#bottom
{
    display: flex;
    justify-content:center;
}

#bottombottom
{
  display: flex;
  justify-content:center;
  width: 45% !important;
}

.information2
{ 
    text-align: justify;  
    width:90%;
    display: flex;
    flex-direction: column;
}

p
{
    font-size: 20px;
    font-weight: 400;
}

.top-right
{
    display: flex;
    flex-direction: row;
    height: 17%;
    margin-top: 4%;
    margin-right: 7%;
    vertical-align: center;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height:100%;
  position:static !important;
}

#planetImage { 
    width : 60%;
    height : 70%;
    animation: float 8s ease-in-out infinite;
}

div
{
    animation: float 10s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.back-bloc{
    display: flex;
    cursor:pointer;
}

.back
{
    animation:none;
    font-family: 'Inter-bold';
    font-size: 28px;
    line-height: 18px;
    color: #FFFFFF;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor:url("../../assets/cursor2.png"), auto;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/sparksky.jpg');
    color:white;
    flex-direction: column;
    }

    table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
      }
      
     table td,table th {
        border: 1px solid #ddd;
        padding: 8px;
      }
      
     table tr:nth-child(even){background-color: transparent;}
     
     table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-image: url(../../assets/planetes.png);
        background-size:250px;
        color: white;
     }